Solution/TodoPagoConnector/bin
Solution/TodoPagoConnector/obj
Solution/TPTestConsole/bin
Solution/TPTestConsole/obj
Solution/WindowsFormsApplication1/bin
Solution/WindowsFormsApplication1/obj
Solution/.vs/TodoPagoConnector/v14/.suo
Solution/TodoPagoConnector.v12.suo
Solution/VB Console Sample/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
