<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.net>
    <settings>
      <servicePointManager checkCertificateName="false" checkCertificateRevocationList="false"/>
    </settings>
    <defaultProxy useDefaultCredentials="true"> </defaultProxy>
  </system.net>
  
  <system.serviceModel>
        <bindings>
              <basicHttpBinding>
                    <binding name="AuthorizeSoap11Binding">
                          <security mode="Transport"/>
                    </binding>
                    <binding name="AuthorizeSoap11Binding1"/>
                    <binding name="OperationsSoap11Binding">
                          <security mode="Transport"/>
                    </binding>
                    <binding name="OperationsSoap11Binding1"/>
              </basicHttpBinding>
              <customBinding>
                    <binding name="AuthorizeSoap12Binding">
                          <textMessageEncoding messageVersion="Soap12"/>
                          <httpsTransport/>
                    </binding>
                    <binding name="OperationsSoap12Binding">
                          <textMessageEncoding messageVersion="Soap12"/>
                          <httpsTransport/>
                    </binding>
              </customBinding>
        </bindings>

        <behaviors>
          <endpointBehaviors>
            <behavior name="DisableServiceCertificateValidation">
              <clientCredentials>
                <serviceCertificate>
                  <authentication certificateValidationMode="None" revocationMode="NoCheck"/>
                </serviceCertificate>
              </clientCredentials>
            </behavior>
          </endpointBehaviors>
        </behaviors>

    
        <client>
              <endpoint address="https://10.123.4.121:8243/services/t/1.1/Authorize.AuthorizeHttpsSoap11Endpoint" binding="basicHttpBinding" bindingConfiguration="AuthorizeSoap11Binding" contract="AuthorizeService.AuthorizePortType" name="AuthorizeHttpsSoap11Endpoint"/>
              <endpoint address="http://10.123.4.121:8280/services/t/1.1/Authorize.AuthorizeHttpSoap11Endpoint" binding="basicHttpBinding" bindingConfiguration="AuthorizeSoap11Binding1" contract="AuthorizeService.AuthorizePortType" name="AuthorizeHttpSoap11Endpoint"/>
              <endpoint address="http://10.123.4.121:8280/services/t/1.1/Authorize.AuthorizeHttpSoap12Endpoint" binding="customBinding" bindingConfiguration="AuthorizeSoap12Binding" contract="AuthorizeService.AuthorizePortType" name="AuthorizeHttpSoap12Endpoint"/>
              <endpoint address="https://10.123.4.121:8243/services/t/1.1/Authorize.AuthorizeHttpsSoap12Endpoint" binding="customBinding" bindingConfiguration="AuthorizeSoap12Binding" contract="AuthorizeService.AuthorizePortType" name="AuthorizeHttpsSoap12Endpoint"/>
              <endpoint address="https://10.123.4.121:8243/services/t/1.1/Operations.OperationsHttpsSoap11Endpoint" binding="basicHttpBinding" bindingConfiguration="OperationsSoap11Binding" contract="OperationsService.OperationsPortType" name="OperationsHttpsSoap11Endpoint"/>
              <endpoint address="http://10.123.4.121:8280/services/t/1.1/Operations.OperationsHttpSoap11Endpoint" binding="basicHttpBinding" bindingConfiguration="OperationsSoap11Binding1" contract="OperationsService.OperationsPortType" name="OperationsHttpSoap11Endpoint"/>
              <endpoint address="https://10.123.4.121:8243/services/t/1.1/Operations.OperationsHttpsSoap12Endpoint" binding="customBinding" bindingConfiguration="OperationsSoap12Binding" contract="OperationsService.OperationsPortType" name="OperationsHttpsSoap12Endpoint"/>
              <endpoint address="http://10.123.4.121:8280/services/t/1.1/Operations.OperationsHttpSoap12Endpoint" binding="customBinding" bindingConfiguration="OperationsSoap12Binding" contract="OperationsService.OperationsPortType" name="OperationsHttpSoap12Endpoint"/>
        </client>    
    </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
